*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 25px;
    border: 2px solid aqua;
    background-color: blueviolet;
}
img{
    width: 100px;
    height: 100px;
}